<a href="https://colab.research.google.com/github/chw8207/python-seminar/blob/main/1%EC%9B%94_13%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 함수

In [ ]:
# 매개변수에 기본값 지정하기

In [1]:
# 위치 인자 취합하기 : 튜플
def sumsq(*args) :
  result = 0
  for i in args : 
    result += i
  return result

In [ ]:
# 키워드 인자 취합하기 : 딕셔너리
def print_kwargs(**kwargs) : 
  print('Keyword arguments')

### 조건문

In [20]:
# 월을 입력하면 계절 나오는 함수
month = int(input('월을 입력하시오'))
def season(month) : 
  if month in [3, 4, 5] : 
    print('spring')
  elif month in [6, 7, 8] : 
    print('summer')
  elif month in [9, 10, 11] :
    print('fall')
  elif month in [12, 1, 2]: 
    print('winter')
season(month)

월을 입력하시오5
spring

In [13]:
# 사용자가 입력한 접수에 따라 학점을 부여하는 함수 작성하기
def grade(score) :
  if score>=90 : 
    print('A')
  elif score>=80 : 
    print('B')
  elif score>=70 : 
    print('C')
  elif score>=60 : 
    print('D')
  else : 
    print('F')

grade(70)

C

### 반복문

In [ ]:
# zip() : 여러 갑을 병렬로 순회하면서 출력할 수 있음.
# enumerate() : 자료형을 입력받아 인덱스 값을 포함하는 값을 출력함

In [44]:
i = 2
type(i)

int

In [45]:
# 반복문과 조건문을 사용해 주어진 벡터 내에 있는 홀수는 모두 더하고,
# 짝수는 모두 빼는 함수 foo()를 작성해보자
# answer = list(input().split(','))
answer = [3.5, 2.5]

def foo(answer) : 
  result = 0
  for i in answer : 
    if type(i) == int : 
      #
      if i%2 == 0 : 
        result -= i
      elif i%2 !=0 :
        result += i
    else : 
      result = 'warning'
  print(result)

foo(answer)

warning

In [51]:
# 풀이
def foo(list_A) : 
  result = 0
  for i in list_A : 
    if type(i) == int :
      if i%2 == 0 : 
        result -= i 
      else : 
        result += i
    else : 
      print('NA')
  print(result)

foo([1, 3, 5, 4])

5