<a href="https://colab.research.google.com/github/chw8207/python-seminar/blob/main/1%EC%9B%946%EC%9D%BCHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 점수 평균 구하기
# 국어 67점, 수학 89점, 영어 98점
avg = (67+89+98)/3

In [ ]:
# 자연수 13이 홀수인지 짝수인지 판별하기
n = 13
if n%2 !=0 : 
  print('홀수입니다!')
else : 
  print('짝수입니다!')

홀수입니다!

### B의 주민등록번호
 - 981212-1034873

In [ ]:
# 주민번호를 연월일 부분과 뒤 숫자 부분으로 나누어서 출력하기
id_num = '981212-1034873'
id_num = id_num.split('-')
print(f'연월일 : {id_num[0]}')
print(f'숫자부분 : {id_num[1]}')

연월일 : 981212
숫자부분 : 1034873

In [ ]:
# 성별을 나타내는 숫자 출력하기
id_num = '981212-1034873'
print(f'성별 : {id_num[7]}')

성별 : 1

In [ ]:
# 문자열 '1:2:3:4'를 '1#2#3#4'로 바꾸어 출력하기
str_n = '1:2:3:4'
print(str_n.replace(':', '#'))

1#2#3#4

In [ ]:
# 리스트 [1,3,5,6,4]를 [6,5,4,3,1]로 변환하기
list1 = [1,3,5,6,4]
list1.sort(reverse=True)
print(list1)

[6, 5, 4, 3, 1]

In [ ]:
# 리스트 ['Life', 'is', 'too', 'short']를
# 'Life is too short'로 변환하여 출력하기
sen = ['Life', 'is', 'too', 'short']
" ".join(sen)

'Life is too short'

In [ ]:
# 튜플 (1,2,3)을 (1,2,3.4)로 변환하여 출력하기
tup = (1,2,3)
print(tup + (4,))

(1, 2, 3, 4)

In [9]:
# a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]에서 중복을 제거하여 출력
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]

In [11]:
# cheese = ['mozzarella', 'cinderella', 'salmonella']
# 모든 요소 첫 글자를 대문자로 바꿔서 출력하기
cheese = ['mozzarella', 'cinderella', 'salmonella']
cheese2 = []
for i in cheese : 
  cheese2.append(i.capitalize())
print(cheese2)

['Mozzarella', 'Cinderella', 'Salmonella']

In [22]:
# surprise = ['Groucho', 'Chico', 'Harpo']
# 단어 역전시킨 후 끝은 소문자, 첫 글자는 대문자로 변환
surprise = ['Groucho', 'Chico', 'Harpo']
surprise2 = []
for i in surprise : 
  surprise2.append(i[::-1].capitalize())
print(surprise2)

['Ohcuorg', 'Ocihc', 'Oprah']

### 영어-프랑스어 사전
 - e2f = {‘dog’: ‘chien’, ‘cat’: ’chat’, ‘walrus’:
‘morse’}