<a href="https://colab.research.google.com/github/chw8207/python-seminar/blob/main/1%EC%9B%94_13%EC%9D%BC_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# n단 구구단
# n = int(input())

def times() : 
  n = int(input())
  for j in range(1,10) : 
    print(f'{n}*{j}={n*j}')

times()

2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [7]:
# 세 수 가장 큰 수, 곱, 합 출력하는 함수
a, b, c = map(int, input().split())

def triple(a, b, c) : 
  print(max(a,b,c), (a*b*c), (a+b+c))

triple(a, b, c)

1 5 7
7 35 13

In [12]:
# 좌표 문제
x, y = map(int, input().split())

def xydot(x, y) : 
  if x>0 : 
    if y>0 : 
      print('Quadrant 1')
    else : 
      print('Quadrant 4')
  else : 
    if y>0 : 
      print('Quadrant 2')
    else :
      print('Quadrant 3')

xydot(x, y)

-5 5
Quadrant 2

In [14]:
#1부터 N까지 합 구하기
n = int(input())

def total(n) : 
  sum = 0
  for i in range(1, n+1) : 
    sum += i
  print(sum)

total(n)

5
15