<a href="https://colab.research.google.com/github/chw8207/python-seminar/blob/main/2%EC%9B%9417%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/파이썬 세미나/세미나 내용/python-seminar/data/train - train.csv')

In [3]:
# 시리즈 생성
# 1. dictionary
series1 = pd.Series({'apple' : 1000, 'orange' : 3000, 'banana' : 5000})
series1

apple     1000
orange    3000
banana    5000
dtype: int64

In [4]:
#2. list
series2 = pd.Series([1000,3000,5000], index = ['apple', 'orange', 'banana'])
series2

apple     1000
orange    3000
banana    5000
dtype: int64

### create

In [5]:
df1 = pd.DataFrame({'apple' : [1000, 1500, 2000], 'orange' : [1200, 1500, 2400],
                    'banana' : [3000, 3700, 4000]})
df1

   apple  orange  banana
0   1000    1200    3000
1   1500    1500    3700
2   2000    2400    4000

### read

In [7]:
df.head()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2,-6,1
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3,-5,1
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2,-22,2
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2,-37,0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2,-26,2