<a href="https://colab.research.google.com/github/chw8207/python-seminar/blob/main/2%EC%9B%9417%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/파이썬 세미나/세미나 내용/python-seminar/data/train - train.csv')

In [3]:
# 시리즈 생성
# 1. dictionary
series1 = pd.Series({'apple' : 1000, 'orange' : 3000, 'banana' : 5000})
series1

apple     1000
orange    3000
banana    5000
dtype: int64

In [4]:
#2. list
series2 = pd.Series([1000,3000,5000], index = ['apple', 'orange', 'banana'])
series2

apple     1000
orange    3000
banana    5000
dtype: int64

### create

In [5]:
df1 = pd.DataFrame({'apple' : [1000, 1500, 2000], 'orange' : [1200, 1500, 2400],
                    'banana' : [3000, 3700, 4000]})
df1

   apple  orange  banana
0   1000    1200    3000
1   1500    1500    3700
2   2000    2400    4000